<!-- subheader begin -->
        <section id="subheader" data-speed="2" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1>News</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <div class="clearfix"></div>

        <!-- content begin -->
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="blog-list">
                            <li ng-repeat="mynews in news">
   <!--                              <div class="info">
                                    <div class="date-box">
                                        <span class="day">{{mynews.day}}</span>
                                        <span class="month">{{mynews.month}}</span>
                                    </div>
                                </div> -->
                                <div class="preview">
                    <!--                 <img src="img/blog/pic-blog-1.jpg" alt="" /> -->
                                    <p>기도제목</p>
                                    <a href="news-single.html">
                                        <h3 class="blog-title">{{mynews.title.kr}}</h3>
                                    </a>{{mynews.content}}
                                </div>
<!--                                 <div class="meta-info">By: <a href="#">Admin</a><span>|</span><a href="#">Faith</a>, <a href="#">People</a><span>|</span><a href="#">2 Comments</a></div> -->
                            </li>
                        </ul>

                        <div class="clearfix"></div>

<!--                         <div class="text-center ">
                            <ul class="pagination">
                                <li><a href="#">Prev</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div> -->
                    </div>
<!-- 
                    <div id="sidebar" class="col-md-4">

                        <div class="widget latest_news">
                            <h3>Latest News</h3>
                            <ul class="bloglist-small">
                                <li>
                                    <div class="date-box">
                                        <span class="day">01</span>
                                        <span class="month">FEB</span>
                                    </div>
                                    <div class="txt">
                                        <h5><a href="css/#">Lin: 'God Is Challenging Me!'</a></h5>
                                        <div>
                                            <div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="date-box">
                                        <span class="day">05</span>
                                        <span class="month">FEB</span>
                                    </div>
                                    <div class="txt">
                                        <h5><a href="css/#">10 Bible Verses for 2015</a></h5>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    </div>
                                </li>
                                <li>
                                    <div class="date-box">
                                        <span class="day">18</span>
                                        <span class="month">FEB</span>
                                    </div>
                                    <div class="txt">
                                        <h5><a href="css/#">Andraé Crouch goes Home to Jesus</a></h5>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    </div>
                                </li>
                            </ul>
                        </div> -->

                        <!-- widget category -->
                        <!-- widget tags -->
<!--                         <div class="widget widget_tags">
                            <h3><span>Tags</span></h3>
                            <ul>
                                <li><a href="#link">paralax</a></li>
                                <li><a href="#link">carousel</a></li>
                                <li><a href="#link">christian</a></li>
                                <li><a href="#link">church</a></li>
                                <li><a href="#link">clean</a></li>
                                <li><a href="#link">flat</a></li>
                                <li><a href="#link">revolution slider</a></li>
                                <li><a href="#link">fundraising</a></li>
                                <li><a href="#link">html 5</a></li>
                                <li><a href="#link">ngo</a></li>
                                <li><a href="#link">non profit</a></li>
                                <li><a href="#link">religion</a></li>
                            </ul>
                        </div> -->

                        <!-- widget text -->
                        <div class="widget widget-text">
                            <h3>Our Address</h3>
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.id/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=16+Riverside+Rd,+Singapore&amp;sll=-2.547988,118.037109&amp;sspn=29.394918,50.756836&amp;ie=UTF8&amp;geocode=Fb8IFgAdu40vBg&amp;split=0&amp;hq=&amp;hnear=16+Riverside+Rd,+Singapore&amp;ll=1.444031,103.779771&amp;spn=0.014522,0.024784&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=false"></iframe>


                            <address>
                                <span>343 15th Avenue, Kirkland, WA 98033</span>
                                <span><strong>Phone:</strong>(425) 499 7829</span>
<!--                                 <span><strong>Email:</strong><a href="mailto:contact@satriathemes.com">contact@satriathemes.com</a></span>
                                <span><strong>Web:</strong><a href="http://www.satriathemes.com">www.satriathemes.com</a></span> -->
                            </address>

                        </div>
                        <!-- widget text -->

                        <div class="widget widget-text">
                            <h3>About Blessing</h3>
                            Blessing is responsive website template for church build with latest Bootstrap framework. Blessing is responsive with almost all devices screen size supported. This template equipped with awesome features like Revolution Slider, touch & swipe carousel, countdown timer and much more features. Get ‘Blessing’ now!

                        
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- content close -->
