<section id="subheader" data-speed="2" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Sermons</h1>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<div class="clearfix"></div>
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div ng-show="!shouldDisplayVideo">
                <div class="custom-col-3" ng-repeat="sermon in sermons">
                    <div class="left-col">
                        <img src="{{sermon.media.img}}" alt="" class="img-responsive">
                    </div>
                    <div class="mid-col">
                        <a ui-sref="sermons.video" ng-click="select(sermon)">
                            <h3>{{sermon.title.en}}</h3>
                        </a>
                        <div class="details"><span>By <a href="#">{{sermon.speaker.en}}</a>, {{sermon.date}}.</div>
                    </div>
                    <div class="right-col">
                        <a href="#"><i class="fa fa-video-camera"></i></a>
                        <a href="#"><i class="fa fa-volume-up"></i></a>
                        <a href="#"><i class="fa fa-file-pdf-o"></i></a>
                    </div>
                </div>
            </div>
            <div ui-view></div>
            </div>
        </div>
    </div>
</div>
        <!-- content close -->
